* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
header {
    padding:20px,60px;
    display:flex;
    background:#0a2a5e;
    color:white;
    justify-content:space-between;
    align-items:center;
}
.one h2{
    font-size:32px;
}

.one p{
    font-size:16px;
}
nav a{
    color:white;
    margin-left:25px;
}
nav a:hover {
    color:gold;
}
.name {
    display:flex;
    justify-content:space-around;
    background:#eef5ff;
    align-items:center;
    padding:60px;
}
.two{

    width:50%;

}

.two h1{

    font-size:42px;

    color:#123b82;

}

.two p{

    margin-top:15px;

    line-height:1.7;

}
button {
    background:#123b82;
    color:white;
    padding:8px 16px;
    border:none;
    margin-top:20px;
}

.name img{
    width:250px;
    height:250px;
    border-radius:50%;
    border:6px solid white;
    box-shadow:0 0 15px rgba(0,0,0,.3);
}
.hi{
    display:flex;
    justify-content:space-between;
    background:white;
    padding:20px;
}
.three,
.four,.five{
    width:30%;
}

.hi h2{
    margin-left:10px;
    color:#123b82;
}
.four ul{

    margin-left:10px;

}
.four li{

    margin-bottom:8px;

}
.five h2{
    margin-left:-50%;
}
table{
    width:150%;
    border-collapse:collapse;
    margin-left:-50%;
}
td,th {
    border:1px solid #ccc;
    padding:10px;
    text-align:center;
}
th{
    background:#f2f2f2;
}
.bottom{
    display:flex;
    justify-content:space-between;
    padding:40px 60px
}
.left {
    width:60%
}
.right{
    width:35%
    
}
.project-box{
    display:flex;
    gap:15px;
}
.website,.app,.weather{
    width:32%;
    border:1px solid #ddd;
    padding:15px;
    border-radius:5px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);

}
.website h3,
.app h3,
.weather h3{
    margin-bottom:10px;
}
.website p,
.app p,
.weather p{
    font-size:14px;
    margin-bottom:10px;
}
.website a,
.app a,
.weather a{
    color:#1565c0;
    text-decoration:none;
}
.connect{
    margin-top:30px;
}


.n {
    margin-left:10px;
}
.na {
    margin-left:10px;
}
.naa {
    margin-left:10px;
}
.mo{
    color:black;
    background-color:whitesmoke;
}
footer{
    padding:20px;
    text-align:center;
    background:rgb(37, 37, 101);
    color:white;
}
.moa{
    width:30px;
}
.message {
    width:250px;
    height:50px;
    text-align:left;
    
}
.text {
    width:250px;
}
.email {
    width:250px;
}
.about{
    text-decoration:none;
}
.Skills{
    text-decoration:none;
}
.Education{
    text-decoration:none;
}
